
/**********************/
/*    PETITS ECRANS    */
/**********************/


@media only screen and (max-width: 900px) {
    
    .boutons {
        flex-direction: row;
        bottom: 0;
    }

    button {
        margin: 20px 5px 20px 5px;
    }
}

@media only screen and (max-width: 600px) {

    header {
        justify-content: space-between;
    }

    header>a {
        display: none;
    }

    header>img{
        display: initial;
        width: 40px;     
    }


    #semestres {
        display: flex;
        align-items: stretch;
        width: 100%;
        padding: 0;
        flex-wrap: wrap;
        /* justify-content: space-evenly; */
    }

    #semestres > div {
        width: 100px;
        margin: 5px 10px;
        font-size: 20px;
        padding: 0;
        /* margin: 10px; */
    }

    label {
        height: 40px;
        width: 100%;
        box-shadow: 0 1px 1px rgba(0,0,0,0.4);
        line-height: 40px;
    }


    .infosMalus {
        width: 90%;
    }

    #faitA {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 4% 0 0 0;
    }


    #nonOfficiel {
        font-size: 30px;
        margin-top: 10%;
    }

    img {
        position: relative;
        width: 60%;
        margin: auto;
        /* margin: 3% 3% 3% auto; */
    }

}

@media only screen and (max-width: 400px) {

    h3 {
        font-size: 14px;
    }

    #semestres {
        display: flex;
        align-items: stretch;
        width: 100%;
        padding: 0;
        flex-wrap: wrap;
    }

    label {
        height: 40px;
        width: 80%;
        box-shadow: 0 1px 1px rgba(0,0,0,0.4);
        margin: 2px;
    }
}